boto3
botocore
brotlicffi
certifi
cffi
charset-normalizer
python-dotenv
idna
jmespath
lxml
pycparser
PySocks
python-dateutil
requests
s3transfer
setuptools==78.1.1
six
urllib3
wheel==0.45.1
win_inet_pton
